@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--accent: #b794f6;
}

* {
	box-sizing: border-box;
	font-family: Roboto;
}

html, body {
/*	min-height: 100vh;*/
	width: 100%;
	padding-bottom: 1em;
}

body {
	background-color: #121212;
	margin: 0;
	/* padding-top: 6vh; */
	font-family: Roboto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: #fff;
}

.container {
	background-color: rgba(255, 255, 255, .07);
	width: 90%;
	margin: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 10px;
}

.container p {
	width: 70%;
	opacity: .8;
}

.container h1 {
	opacity: .8;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	max-width: 100%;
}

input {
	margin: 5px;
}

input[type=text], input[type=password] {
	max-width: 90%;
	background-color: rgba(255, 255, 255, .09);
	/* border: 2px solid #121212; */
	border: 0px;
	border-radius: .5rem;
	padding: .5rem;
	color: white;
	margin-right: .5rem;
}

button, input[type=submit], .link-button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .09);
    border-radius: .5rem;
    color: white;
    box-shadow: none;
    text-shadow: none;
    border-style: none; 
    padding: .5rem .7rem;
    transition: .25s;
    text-align: center;
}

button:hover, input[type=submit]:hover {
    background-color: rgba(255, 255, 255, .2);
    transition: .25s;
}

a {
	text-decoration: none;
	color: var(--accent);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

nav {
	background-color: #121212;
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: .5rem;
	margin: 0;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-image: linear-gradient(rgba(255, 255, 255, .07), rgba(255, 255, 255, .07));
	box-shadow: 0 0 20px black;
}

nav > * {
	margin-right: .5rem;
}

.menu {
	position: fixed;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #202020;
	left: 0;
	top: 0;
	padding-top: 50px;
	width: 150px;
	height: 100%;
	transform: translateX(0);
	transition: .25s;
}

.menu.closed {
	transform: translateX(-150px);
	transition: .25s;
}

.menu a {
	text-align: center;
	width: 100%;
	padding: 1em; 
/*	background-color: rgba(255, 255, 255, .15);*/
	overflow-x: hidden;
	border-bottom: 2px solid #202020;
	/* padding: 1.2em; */
}

.toasts {
	position: fixed;
	top: 0;
	right: 10px;
	width: 150px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

@media(max-width: 700px) {
	form {
		flex-direction: column;
	}

	.container p {
		width: 100%;
	}

	input[type=text] {
		margin-right: 0;
		margin-bottom: .5rem;
	}
}