@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--accent: #b794f6;
}

* {
	box-sizing: border-box;
	font-family: Roboto;
}

html, body {
	min-height: 100%;
	width: 100%;
}

body {
	background-color: #121212;
	margin: 0;
	/* padding-top: 6vh; */
	font-family: Roboto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.container {
	background-color: rgba(255, 255, 255, .07);
	width: 90%;
	margin: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 10px;
}

.container p {
	width: 70%;
	opacity: .8;
}

.container h1 {
	opacity: .8;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	max-width: 100%;
}

input {
	margin: 0;
}

input[type=text] {
	max-width: 90%;
	background-color: rgba(255, 255, 255, .09);
	/* border: 2px solid #121212; */
	border: 0px;
	border-radius: .5rem;
	padding: .5rem;
	color: white;
	margin-right: .5rem;
}

button, input[type=submit] {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .09);
    border-radius: .5rem;
    color: white;
    box-shadow: none;
    text-shadow: none;
    border-style: none; 
    padding: .5rem .7rem;
    transition: .5s;
    text-align: center;
}

button:hover {
    color: black;
    transition: .5s;
}

a {
	text-decoration: none;
	color: var(--accent);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

@media(max-width: 700px) {
	form {
		flex-direction: column;
	}

	.container p {
		width: 100%;
	}

	input[type=text] {
		margin-right: 0;
		margin-bottom: .5rem;
	}
}