@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;
}

@source "../node_modules/flowbite-svelte/dist";

:root {
	--accent: #b794f6;
/*	font-size: 18px;*/
}

* {
	box-sizing: border-box;
	font-family: Rubik, Roboto, sans-serif;
}

html, body {
	padding-bottom: 1em;
/*	font-size: 18px;*/
	@apply text-black;
	@apply dark:text-gray-200;
}

body {
	@apply bg-white;
	@apply dark:bg-gray-900;
	width: 100vw;
	margin: 0;
	font-family: Roboto;
/*	display: flex;
	flex-direction: column;
	align-items: center;*/
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

p {
	@apply text-base;
	@apply mb-2;
}

h1, h2, h3 {
	@apply mt-2;
	@apply font-bold;
/*	max-width: 700px;*/
}

h1, h2, h3, p {
	@apply text-black/75;
	@apply dark:text-white/75;
}

.body {
	width: 90%;
/*	max-width: 700px;*/
}

.body li {
	@apply list-disc;
	@apply ml-4;
}

svg {
	display: inline-block;
}

.emoji {
	display: inline-block;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.body img:not(.emoji) {
	max-width: 100%;
	height: auto;
}

.body p, .body li {
	width: 90%;
	max-width: 700px;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0;
	vertical-align: -0.1em;
}

.proj-item {
	background-color: rgba(175, 109, 255, 0.18);
}

.tcols {
	grid-template-columns: repeat(auto-fill, 150px);
}

.post-tag {
	@apply p-1;
	@apply mr-1;
	@apply rounded-sm;
	@apply bg-gray-300;
	@apply dark:bg-gray-600;
	@apply font-normal!;
}

.filters {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	position: relative;
}

.filters-inner {
	display: flex;
	flex-direction: row;
	width: 90%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.filters button {
	margin-right: .5rem;
}

.filters input {
	background-color: rgba(255, 255, 255, .09);
	font-size: 1rem;
	border: none;
	border-radius: .5rem;
	padding: .5rem;
	margin: 0;
}

.select {
	position: absolute;
	background: #120d1c;
	padding: 0 .5rem;
	margin-top: .5rem;
	border-radius: .5rem;
	text-align: center;
	max-width: 500px;
}

.select-inner {
	display: flex;
	flex-direction: column;
}

.tags-menu .select-inner {
	flex-direction: row;
	flex-wrap: wrap;
}

.select-option {
	background: rgba(255, 255, 255, .09);
	margin: .5rem 0 ;
	border-radius: .5rem;
	padding: .5rem;
	cursor: pointer;
}

.tags-menu .select-option {
	margin: 0 .5rem .5rem 0;
}

.selected {
	background: rgba(182, 148, 246, .5);
}

hr {
	width: 90%;
	max-width: 700px;
	margin-bottom: 1rem;
}

textarea {
	font-size: 1rem;
}

code, pre {
	font-family: 'Roboto Mono', monospace;
	background-color: rgba(255,255,255, .2);
}